<!DOCTYPE html>
<html ng-app="test">
  <head>
    <meta charset="utf-8">
    <title>JSON Tree Search</title>
    <link rel="stylesheet" href="lib/jstree-3.2.1/themes/default/style.min.css">
    <script src="lib/jquery-2.1.4.min.js"></script>
    <script src="lib/jstree-3.2.1/jstree.min.js"></script>
    <script src="lib/angular-1.4.7.min.js"></script>
    <script src="src/utils.js"></script>
    <script src="src/directive.js"></script>
    <script src="data.js"></script>
    <script>
      angular.module('test', [])
        .controller('Main', function($scope) {
          $scope.object = data
          $scope.search = function() {
            alert($scope.query)
          }
          tree(document.getElementById('tree'), data)
        })
    </script>
  </head>
  <body ng-controller="Main">
    <input ng-model="query">
    <button ng-click="search()">Search</button>
    <div json=”object” search=”search”></div>
    <div id="tree"></div>
  </body>
</html>
